.button {
    background: $blue;
    border: none;
    color: #fff;
    display: inline-block;   // to be part of the container (padding)
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--link {  // -- for modifier 
    background: none;
}

.button--secondary {
    background: #888888;
}

.button--twitter {
    background: #8EE5EE;
    margin-top: $s-size;
}